.button {
  display: block;

  margin-top: 48px;
  margin-right: auto;
  padding: 25px 68.5px;
  border: none;
  border-radius: 50px;

  font-size: 20px;
  line-height: 1;

  color: var(--color-white);
  background: linear-gradient(180deg, var(--color-pink-700) .01%, var(--color-red-700) 100%);

  cursor: pointer;
  transition: filter .2s ease-in-out;
}

.button:hover {
  filter: brightness(110%);
}
