.checkbox {
  display: flex;
  flex-direction: column;

  margin-block: 39px;

  &__label {
    display: flex;
    align-items: center;

    font-size: 18px;

    color: var(--color-black-800);

    cursor: pointer;
    user-select: none;
  }

  &__input {
    display: none;
  }

  &__checkmarkBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 24px;
    height: 24px;
    margin-right: 8px;
    border-radius: 6px;

    background-color: var(--color-blue-500);

    cursor: pointer;
  }

  &__checkmark {
    display: none;
  }
}

.checkbox_active {
  &__checkmark {
    display: block;
  }
}
